<div class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<p class="navbar-text pull-left">Site built by Alex Zwir</p>
		<a class="navbar-button pull-right" href="">Subsribe on Youtube</a>
	</div>
</div>